.canvas-flow {
  background-color: #edf2f7;
  height: 100%;
  width: 100%;
}

.vue-flow__node {
  background-color: #f3f4f6;
}
.vue-flow__node-operator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px #0003;
}

.vue-flow__node-operator.selected {
  box-shadow: 0 0 0 2px #2563eb;
}

.vue-flow__node-operator .buttons {
  display: flex;
  gap: 8px;
}

.vue-flow__node-operator button {
  border: none;
  cursor: pointer;
  background-color: #4a5568;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 0 10px #0000004d;
  width: 40px;
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vue-flow__node-operator button svg {
  width: 100%;
  height: 100%;
}

.vue-flow__node-operator button:hover {
  background-color: #2563eb;
  transition: background-color 0.2s;
}

.vue-flow__node-operator button.selected {
  background-color: #2563eb;
}

.vue-flow__node-operator .vue-flow__handle[data-handleid='target-a'] {
  top: 25%;
}

.vue-flow__node-operator .vue-flow__handle[data-handleid='target-b'] {
  top: 75%;
}

.vue-flow__node-operator .vue-flow__handle {
  background-color: #2563eb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
